.not-found-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.not-image {
  height: 500px;
}
.heading {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 36px;
}
.description {
  color: grey;
}
